<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FormConstructor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF343B171E86BF0D0047A996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF343B201E86BF0D0047A996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF343B981E899CA60047A996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF343BAB1E899CA60047A996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF343BB61E899CA60047A996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
